<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <h1 class="title is-1">Checkout</h1>
        <div class="columns">
            <div class="column">
                <!-- Game Image -->
                <figure class="image is-4by3">
                    <img src="{{game.image}}" alt="Placeholder image">
                </figure>
            </div>
            <div class="column">
                <!-- Checkout Form -->
                <div class="box">
                    <form>
                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control">
                                <input class="input" type="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">First Name</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="First Name">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Last Name</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button class="button is-link">Confirm Buy</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>