<!--homepage-->
    <section class="main-body is-flex is-flex-direction-column">

<section class="hero is-flex is-flex-direction-row">

    <div class="hero-body">
    <p class="title">
    Primary Games
    </p>
    <p class="subtitle">
        World's #1 Game Shop 
    </p>
    </div>

    <input class="input is-rounded m-auto" type="text" placeholder="Rounded input">
    <a><i class="fas fa-shopping-cart m-5 p-0 is-size-4" id="shopping-cart"></i></a>

</section>

    <!--random Game Cover background Image-->
<section class="hero mb-5 is-medium">
    <!-- Game Image -->
        <img class="main-background" src="https://media.rawg.io/media/games/20a/20aa03a10cda45239fe22d035c0ebe64.jpg"<!--{{game.background_image}}-->/>
</section>

<section class="hero m-auto">

    {{#each platforms}}
    <button class="button platforms is-normal">{{this.name}}</button>
    {{/each}}
    
    <div id="button-container">
    <button class="button genre is-small">Action Adventure</button>
    <button class="button genre is-small">RPG</button>
    </div>
</section>

<section class="hero is-small mt-5">
    <div class="hero-body">
    <p class="title is-underlined">
    Games
    </p>
    <p>Genre/s: <span id="genre-input"></span></p>
    <p>Platform/s: <span id="platform-input"></span></p>
    </div>
</section>

<section class="hero is-large is-flex is-flex-direction-column">

    <div class="game-container m-5 is-flex is-flex-direction-row is-justify-content-space-evenly is-flex-wrap-wrap">
    

    <!-- Game Card -->
    
    <div class="game-card">
        <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/1088850/header.jpg?t=1700763034" alt="Game Background">
        <p class="game-title">{{game.name}}</p>
    </div>
    

    <!-- Pop-up Window for card-->
    <div id="popup" class="popup" style="display: none;">
        <button id="close-button">X</button>
        <p class="game-bio">{{this.description}}</p>
        <p class="game-platform">Game Platform</p>
        <p class="game-cost">Game Cost</p>
        <button class="button is-primary" id="add-to-cart-button">Add to Cart</button>
    </div>

    </div>

</section>



</section>