<!--homepage-->
    <section class="main-body is-flex is-flex-direction-column">

<section class="hero is-flex is-flex-direction-row">

    <div class="hero-body">
    <p class="title">
    Primary Games
    </p>
    <p class="subtitle">
        World's #1 Game Shop 
    </p>
    </div>

    <input class="input is-rounded m-auto" type="text" placeholder="Rounded input">
    <a><i class="fas fa-shopping-cart m-5 p-0 is-size-4" id="shopping-cart-icon"></i></a>

</section>

    <!--random Game Cover background Image-->
<section class="hero mb-5 is-medium has-background-dark">
    <div class="gameCover">
    </div>
</section>

<section class="hero m-auto">
    <div class="buttons is-flex is-flex-direction-row">
    <button class="button is-normal">PlayStation 5</button>
    <button class="button is-normal">PlayStation 4</button>
    <button class="button is-normal">Xbox Series X</button>
    <button class="button is-normal">Xbox One</button>
    <button class="button is-normal">Nitendo Switch</button>
    <button class="button is-normal">PC</button>
    <button class="button is-normal">View All</button>
    </div>

    <div>
    <button class="button is-small">Action Adventure</button>
    <button class="button is-small">Arcade/Puzzle</button>
    <button class="button is-small">Family/Party</button>
    <button class="button is-small">Fighting</button>
    <button class="button is-small">Music/Dancing</button>
    <button class="button is-small">Racing</button>
    <button class="button is-small">RPG</button>
    <button class="button is-small">Shooter</button>
    <button class="button is-small">Sports</button>
    <button class="button is-small">Strategy/Slim</button>
    </div>
</section>

<section class="hero is-small mt-5">
    <div class="hero-body">
    <p class="title is-underlined">
    Games
    </p>
    <p>Genre/s:</p>
    <p>Platform/s:</p>
    </div>
</section>

<section class="hero is-large is-flex is-flex-direction-column">

    <div class="game-container m-5 is-flex is-flex-direction-row is-justify-content-space-evenly is-flex-wrap-wrap">
    

    <!-- Game Card -->
    <div class="game-card">
        <img src="#" alt="Game Background">
        <p class="game-title">Game Title</p>
    </div>

    <!-- Pop-up Window for card-->
    <div id="popup" class="popup" style="display: none;">
        <button id="close-button">Close</button>
        <p class="game-bio">Game 1 Bio</p>
        <p class="game-platform">Game Platform</p>
        <p class="game-cost">Game Cost</p>
    </div>

    <!-- Game Card -->
    <div class="game-card">
        <img src="#" alt="Game Background">
        <p class="game-title">Game Title</p>
    </div>

    <!-- Pop-up Window for card-->
    <div id="popup" class="popup" style="display: none;">
        <button id="close-button">Close</button>
        <p class="game-bio">Game 2 Bio</p>
        <p class="game-platform">Game Platform</p>
        <p class="game-cost">Game Cost</p>
    </div>

    </div>

</section>



</section>
