#shopping-cart-icon {
    color: blue; /* Replace 'red' with the color you want */
}

#cart-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    display: none; /* Hide it by default */
    /* Add other styles as needed (e.g., width, background color, etc.) */
}

.vw {
    width: 80vw;
}

.input {
    width: 30vw;
}

.main-background {
    width: 95vw;
    height: 500px;
    border-radius: 30px;
}

.game-card {
    width: 200px;
    height: 300px;
    border: 1px solid #000;
    position: relative;
}

.game-card img {
    width: 100%;
    height: 100%;
}

.game-card .game-title {
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    color: #fff;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

