

#shopping-cart-icon {
    color: blue; /* Replace 'red' with the color you want */
}

.vw {
    width: 80vw;
}

.input {
    width: 30vw
}

.gameCover {
    width: 100vw;
    height: 500px;
}

.game-card {
    width: 200px;
    height: 300px;
    border: 1px solid #000;
    position: relative;
}

.game-card img {
    width: 100%;
    height: 100%;
}

.game-card .game-title {
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    color: #fff;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border: 1px solid #000;
    width: 300px;
    box-sizing: border-box;
}

.custom-notification {
    height: 120px; /* Adjust the height as needed */
    width: 80%; /* Adjust the width as needed */
    padding: 1.5rem; /* Adjust the padding as needed */
    margin: 0 auto; /* Center the notifications */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space elements evenly */
}

.reference-button {
    margin-right: 1rem; /* Adjust the margin as needed */
    width: 25%; /* 1/4 of the container width */
}

.stacked-buttons {
    display: flex;
    flex-direction: column;
    width: 75%; /* Fill the remaining width */
}

.stacked-buttons .button {
    height: 50%; /* Adjust the height as needed */
    margin-bottom: 0.5rem; /* Adjust the margin as needed */
    color: #fff; /* Text color */
}

.stacked-buttons .button:last-child {
    margin-bottom: 0; /* Remove margin for the last button */
}

/* Add margin to the bottom of the User Info bar */
.notification.is-info.has-text-centered {
    margin-bottom: 2rem; /* Adjust the margin as needed */
}

/* Additional style for the "Here" bar */
.additional-bar {
    height: 100%; /* Match the height of the parent bar */
    background-color: #3273dc; /* Example color */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; /* Text color */
    margin-left: 0.5rem; /* Adjust the margin as needed */
}